@font-face {
    font-family: FonteLight;
    src: url(../Fonte/Barlow-Light.ttf);
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nave{
    display: flex;
    align-items: center;
    background:linear-gradient(to right,#cbaa6c, #e8ce9f ) ;
    height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 55px, rgba(0, 0, 0, 0.12) 0px -12px 20px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8ab76;
    height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-list a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding-right: 10px;
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
   margin-right: 30px;
}

.imagem-principal{
    max-width: 180px;
    margin: 20px;
}

.conteudo-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/imagem-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    background-color: whitesmoke;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    transition: opacity 1s ease-in-out;
}


form{
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.buttonsForm{
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonsForm button{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
    color: rgb(79, 77, 77);
    font-weight: bold;
}

.bntColor{
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #c8ab76, #c6963f);
    border-radius: 30px;
    transition: .3s;
}

input[type="text"], input[type="password"]{
    border: none;
    margin-top: 40px;
    border-radius: 40px;
    padding: 8px 0px 8px 35px;
    outline: none;
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button[type="submit"]{
    background:linear-gradient(to left,  #c6963f, #c8ab76);
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0px 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
}

.divCheck{
    margin: 20px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signin{
    left: 25px;
}

#signup{
    left: 450px;
}

i{
    position: absolute;
    left: 0;
    padding: 10px 10px;
    
}

.iEmail{
    top: 39px;
}

.iPassword{
    top: 110px;
}

.iPassword2{
    top: 180px;
}