@font-face {
    font-family: FonteLight;
    src: url(../Fonte/Barlow-Light.ttf);
}

.trocar-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgb(184, 199, 199);
}

.trocar-layout a{
    padding: 10px 15px 10px 15px;
    color:#E4F7F7;
    text-shadow:0.1em 0.1em 0.2em black;;
    font-size: 40px;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
}

.trocar-layout a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.trocar-layout a:hover::after{
    width: 100%;
}

.trocar-layout a:hover{
    color: rgb(246, 218, 195);
    transition: 0.3s;
    opacity: 0.7;
} 

.conteudo-pg1{
    background-color: #b8c7c7;
}

.banner-fundo{
    background-image: url(../imagens/imagem-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    background-attachment: fixed;
}

#titulo{
    margin: 0;
    padding: 10px;
    padding-bottom: 8px;
    background: linear-gradient(to right, #e6c07a, #b29766);
    color: #fff;
    text-align: center;
    font-family: FonteLight ; 
    text-shadow: 0.1em 0.1em 0.2em black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(184, 199, 199);
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    transition: opacity 1s ease-in-out;
}

.container-cartao{
    background-color: #fff4e057;
    border: solid 2px  #b29867 ;
    margin-bottom: 40px;
    padding-bottom: 30px;
    height: 300px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

 a{
    text-decoration: none;
    opacity: 1;
}

.personagem{
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.personagem:hover{
    transform: scale(1.15, 1.15);
}

.imagem{
    padding: 20px 30px 40px 30px;
}

.imagem-logo{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
} 

.imagem h3{
    text-align: center;
    color: #ffde9f;
    padding-bottom: 20px;
    font-size: 30px;
    font-family:FonteLight;
    text-shadow: 0.1em 0.1em 0.2em black;
}

footer{
    background-color: #b29867;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 17px;
}

footer strong{
    color: #efdbb5;
}

::-webkit-scrollbar{
    width: 10px;
    color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color:#dec9a9;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a99d8a;
}